<html>
    <head>
<style>
   table{
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin-left: auto; 
  margin-right: auto;
   }
   input{
   
    background-color: #A9A9A9;
   }
   td{
    border-radius: 5px;
    border: 1px solid black;
   }
  form{
   text-align: center;
   font-family:  Tahoma;
   }
   
</style>
</head>

<body bgcolor="LightGray">
    <Form>
    <h1>COLOR GAME</h1>
    <p> Timer : <h3 id ="timer"></h3></p>
    <p>Score : <h3 id ="score"></h3></p>

</Form>
<center>
<input type="button" value="Start Game" id="tulsi_btn" onclick="MyFunction();timer()" /></center>
</br>
</br>
<script>


        </script>
</body>
</html>


