 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
<h1> Welcome <%= tokendata.user_name%></h1>
<a href="/logout">Logout</a></br>
<div class="alldata">
<div class="task">


    <h2>
        task list
    </h2>
</div>
<div class="linkdata">


  <ul>
<li>
    click for the play KUKU cube : <a href="http://localhost:8080/design" class="homeatext">kuku cube</a>
</li>
<li>
    click for the play Tic-tac-toe  : <a href="http://localhost:8080/tictac" class="homeatext">tic tac</a>
</li>
<li>
    click for the sorting with pagination : <a href="http://localhost:8080/sortdata" class="homeatext">sorting</a>
</li>

<li>
    click for the  pagination, delete, edit & search : <a href="http://localhost:8080/page" class="homeatext">all combain</a>
</li>

<li>
    click for the  excel: <a href="http://localhost:8080/exl" class="homeatext"> excle file</a>
</li>
<li>
    click for the form: <a href="http://localhost:8080/form1" class="homeatext"> form </a>
</li>

<li>
    click for the form: <a href="http://localhost:8080/combo" class="homeatext"> combo</a>
</li>

  </ul>
  <a href="/editreg?user_id=<%=tokendata.user_id%>">Edit profile</a>
</div>
 
</div>


</body>
</html>

