body{
   font-family: Arial;
    background-image: url("/auth-bg.png");
    color: #ffffff;
}
.myform{
  line-height: 2;
     /* Green Color : #174F2A
    Gold Color : #A4843F
    white : #ffffff
    black: #000000
    Red : #FF0000 */
}
.formchild{
    margin-left: 100px;
    height:500px;
    width: 300px;
  padding-left: 50px;
 padding-top: 200px;

 background-color:#00000080;
 color: #ffffff;
}
.sub{
    width:250px;
    height: 30px;
    background-color:#174F2A;
}
.aforlink{
    color:#A4843F;
}
.last_logochild{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.perr{
   color: #FF0000;}

   .int{
    width: 250px;
    height: 30px;
   }

.homeatext{
    color:bisque
}